<div nz-row nzJustify="center">
  <form nz-form [formGroup]="recipeForm" (submit)="submitRecipe()">
    <nz-form-item>
      <h4 nz-typography style="text-align: center">Hier kannst du ein neues Rezept erstellen.</h4>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Bitte gebe den Namen des Rezeptes ein!">
        <nz-input-group nzPrefixIcon="edit">
          <input nz-input name="recipeName" formControlName="recipeName" type="text" id="recipeName"
                 placeholder="Name des Rezepts" >
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Bitte gebe einen Link für das Rezept an!">
        <nz-input-group nzPrefixIcon="link">
          <input nz-input name="recipeLink" type="text" id="recipeLink" formControlName="recipeLink"
                 placeholder="Link zum Rezept">
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <label>Möchtest du das Rezept favorisieren ?</label>
      <nz-switch formControlName="isFavourite" style="margin-left: 15px"></nz-switch>
    </nz-form-item>
    <nz-form-item>
      <button type="submit" [disabled]="!(allIngredients.length > 0)" nz-button nzType="primary" nzBlock>Rezept hinzufügen</button>
    </nz-form-item>
  </form>
</div>
<div nz-row nzJustify="center">
  <form nz-form [formGroup]="ingredientForm" (submit)="addIngredient()">
    <nz-divider nzType="horizontal" nzText="Zutaten"></nz-divider>
    <nz-form-item>
      <nz-form-control nzErrorTip="Bitte gebe eine Menge für die Zutat an!">
        <nz-input-group [nzAddOnAfter]="addOnAfterTemplate" >
        <input type="number" nz-input name="ingredientAmount" formControlName="ingredientAmount" placeholder="Menge"/>
      </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Bitte gebe einen Namen für die Zutat an!">
        <nz-input-group nzPrefixIcon="edit">
        <input nz-input name="ingredientName" type="text" id="ingredientName" formControlName="ingredientName"
               placeholder="Zutaten">
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <button type="submit" nzBlock nz-button nzType="primary">Zutat hinzufügen</button>
    </nz-form-item>
    <div>
      <ng-template #addOnAfterTemplate>
        <nz-select formControlName="ingredientUnit">
          <nz-option nzLabel="g" nzValue="g"></nz-option>
          <nz-option nzLabel="ml" nzValue="ml"></nz-option>
          <nz-option nzLabel="tl" nzValue="tl"></nz-option>
          <nz-option nzLabel="el" nzValue="el"></nz-option>
          <nz-option nzLabel="l" nzValue="l"></nz-option>
          <nz-option nzLabel="pck" nzValue="pck"></nz-option>
          <nz-option nzLabel="stk" nzValue="stk"></nz-option>
          <nz-option nzLabel="kg" nzValue="kg"></nz-option>
        </nz-select>
      </ng-template>
    </div>
  </form>
</div>
<div *ngIf="allIngredients.length > 0" nz-row nzJustify="center">
<nz-divider nzType="horizontal"></nz-divider>
  <ul>
    <li *ngFor="let ingredient of this.allIngredients">
      <p nz-typography>{{ingredient.amount}}{{ingredient.unit}} {{ingredient.name}}
        <button nz-button nzSize="small" nzDanger nzType="primary" nzShape="circle" (click)="removeIngredient(ingredient)">
          <i nz-icon nzType="close-circle"></i>
        </button>
      </p>
    </li>
  </ul>
</div>








