<form nz-form>
  <nz-form-item>
    <h4 nz-typography style="text-align: center">
      Hallo, um die App zu nutzen, log dich bitte mit deinen Nutzerdaten ein.
    </h4>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <input nz-input name="username" type="text" id="username" placeholder="Benutzername">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <input nz-input name="password" type="password" id="password" placeholder="Passwort">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <button nz-button nzBlock nzType="primary" >Login</button>
  </nz-form-item>
</form>
