<div class="recipe-card-container-front"
     (click)="flipCard()"
     *ngIf="isFrontDisplayed">
  <h4 nz-typography class="recipe-name">{{recipe.name}}</h4>
</div>

<div class="recipe-card-container-back"
     *ngIf="!isFrontDisplayed"
     (click)="flipCard()"
     >
  <div nz-row nzJustify="center">
    <h4 nz-typography style="text-align: center"> {{recipe.name}}</h4>
  </div>
  <div nz-row nzJustify="start">
    <ul>
      <li *ngFor="let ing of recipe.ingredients" >{{ing.amount}}{{ing.unit}} {{ing.name}}</li>
    </ul>
  </div>
  <div *ngIf="recipe.recipe_link" nz-row nzJustify="center" style="margin-bottom: 2vh">
    <button nz-button nzType="default">Zum Rezept</button>
  </div>
</div>


