<div *ngIf="recipeService.dataLoaded">
  <nz-card nzTitle="{{recipe.name}}" [nzExtra]="extraTemplate">
    <span nz-typography *ngIf="recipe.link">
      Link zum Rezept:
        <a href="{{recipe.link}}" target="_blank">
          Click here
          <Link />
        </a>
      </span>
  <nz-collapse [nzBordered]="false">
    <nz-collapse-panel [nzHeader]="this.ingredientsTitle">
      <nz-list nzSize="small">
        <nz-list-item *ngFor="let ingredient of recipe.ingredients">
          <span>
            <span nz-typography>{{ingredient.amount}}</span>
            <span nz-typography>{{ingredient.unit}}</span>
            <span nz-typography>{{ingredient.name}}</span>
          </span>
        </nz-list-item >
      </nz-list>
    </nz-collapse-panel>
  </nz-collapse>
  </nz-card>

  <ng-template #extraTemplate>
    <i nz-icon nzType="star" nzTheme="outline" [nzTheme]="'twotone'" [nzTwotoneColor]="this.recipe.favourite ? '#e8d85e' : '#808080'" (click)="changeFavouriteStateForRecipe()"></i>
  </ng-template>
</div>


