<div nz-row nzJustify="center" [nzGutter]="[16, 16]">
  <div nz-col nzXs="18">
    <button nz-button nzBlock routerLink="/new-recipe" nzType="default">Rezept hinzufügen</button>
  </div>
  <nz-divider nzType="horizontal"></nz-divider>
  <div nz-col nzXs="18">
    <button nz-button nzBlock routerLink="/generate-week" nzType="default">Einkaufsliste generieren</button>
  </div>
  <div nz-col nzXs="18">
    <button nz-button nzBlock disabled nzType="default">In Rezepten stöbern</button>
  </div>
  <div nz-col nzXs="18">
    <button nz-button nzBlock routerLink="/favourites" nzType="default">Favoriten ansehen</button>
  </div>
  <nz-divider nzType="horizontal"></nz-divider>
  <div nz-col nzXs="18">
    <button nz-button nzBlock disabled nzType="default">Einstellungen</button>
  </div>
  <nz-divider nzType="horizontal"></nz-divider>

  <div nz-col nzXs="18">
    <button nz-button nzBlock disabled nzDanger nzType="primary">Ausloggen</button>
  </div>
</div>
